<div class="container">
    <div class="page-header">
        <h1>MA METEO</h1>
    </div>
    <div class="row">
    	<div class="col-md-12">
            <div class="panel with-nav-tabs panel-default">
                <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tableView" data-toggle="tab">METEO</a></li>
                        </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">

                    </div>
                    </div>
                </div>
            </div>
        </div>
</div>


